# EDA

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [10]:
dfcodon = pd.read_csv('../data/codon_usage.csv')

/home/amina/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
dfcodon.head(10)

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,100217,1995,Epizootic haematopoietic necrosis virus,0.01654,0.01203,0.00050,0.00351,0.01203,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,100220,1474,Bohle iridovirus,0.02714,0.01357,0.00068,0.00678,0.00407,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,100755,4862,Sweet potato leaf curl virus,0.01974,0.0218,0.01357,0.01543,0.00782,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,100880,1915,Northern cereal mosaic virus,0.01775,0.02245,0.01619,0.00992,0.01567,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,100887,22831,Soil-borne cereal mosaic virus,0.02816,0.01371,0.00767,0.03679,0.01380,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131
5,vrl,0,101029,5274,Human adenovirus type 7d,0.02579,0.02218,0.01479,0.01024,0.02294,...,0.00303,0.01593,0.00171,0.02427,0.02503,0.02825,0.01270,0.00133,0.00038,0.00209
6,vrl,0,101688,3042,Apple latent spherical virus,0.04635,0.01545,0.02005,0.02400,0.02761,...,0.00329,0.01315,0.00822,0.04011,0.01183,0.02663,0.02663,0.00033,0.00033,0.00000
7,vrl,0,101764,2801,Aconitum latent virus,0.02285,0.02678,0.01214,0.02321,0.01714,...,0.00678,0.01250,0.01107,0.03534,0.01571,0.03642,0.02785,0.00107,0.00036,0.00071
8,vrl,0,101947,2897,Pseudorabies virus Ea,0.01105,0.02106,0.00035,0.00104,0.00035,...,0.02658,0.00207,0.00311,0.00414,0.04556,0.00449,0.04867,0.00138,0.00035,0.00138
9,vrl,0,10249,61247,Vaccinia virus Copenhagen,0.03411,0.0143,0.02771,0.01869,0.01148,...,0.00167,0.02230,0.00411,0.04866,0.01559,0.03695,0.01412,0.00250,0.00077,0.00103

In [8]:
dfcodon.describe()

,DNAtype,SpeciesID,Ncodons,UUA,UUG,CUU,CUC,CUA,CUG,AUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
count,13028.000000,13028.000000,1.302800e+04,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,...,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000,13028.000000
mean,0.367209,130451.105926,7.960576e+04,0.020637,0.014104,0.017820,0.018288,0.019044,0.018450,0.028352,...,0.005454,0.009929,0.006422,0.024178,0.021164,0.028290,0.021683,0.001645,0.000592,0.006178
std,0.688726,124787.086107,7.197010e+05,0.020709,0.009280,0.010586,0.014572,0.024250,0.016578,0.017507,...,0.006605,0.008574,0.006387,0.013828,0.013041,0.014342,0.015018,0.001834,0.000907,0.010344
min,0.000000,7.000000,1.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,28850.750000,1.602000e+03,0.005610,0.007107,0.010890,0.007830,0.005307,0.007180,0.016360,...,0.001220,0.001690,0.001170,0.012380,0.011860,0.017360,0.009710,0.000560,0.000000,0.000410
50%,0.000000,81971.500000,2.927500e+03,0.015260,0.013360,0.016130,0.014560,0.009685,0.012800,0.025475,...,0.003530,0.009270,0.004545,0.025420,0.019070,0.026085,0.020540,0.001380,0.000420,0.001130
75%,1.000000,222891.250000,9.120000e+03,0.029485,0.019810,0.022730,0.025113,0.017245,0.024315,0.038113,...,0.007150,0.015922,0.010250,0.034190,0.027690,0.036800,0.031123,0.002370,0.000830,0.002890
max,12.000000,465364.000000,4.066258e+07,0.151330,0.101190,0.089780,0.100350,0.163920,0.107370,0.154060,...,0.055540,0.098830,0.058430,0.185660,0.113840,0.144890,0.158550,0.045200,0.025610,0.106700

In [8]:
dfjustcodon = dfcodon.drop(['Kingdom', 'DNAtype', 'SpeciesID', 'Ncodons', 'SpeciesName'], axis=1).copy()
#df.drop('column_name', axis=1, inplace=True)

In [9]:
dfjustcodon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13028 entries, 0 to 13027
Data columns (total 64 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUU     13028 non-null  object
 1   UUC     13028 non-null  object
 2   UUA     13028 non-null  float64
 3   UUG     13028 non-null  float64
 4   CUU     13028 non-null  float64
 5   CUC     13028 non-null  float64
 6   CUA     13028 non-null  float64
 7   CUG     13028 non-null  float64
 8   AUU     13028 non-null  float64
 9   AUC     13028 non-null  float64
 10  AUA     13028 non-null  float64
 11  AUG     13028 non-null  float64
 12  GUU     13028 non-null  float64
 13  GUC     13028 non-null  float64
 14  GUA     13028 non-null  float64
 15  GUG     13028 non-null  float64
 16  GCU     13028 non-null  float64
 17  GCC     13028 non-null  float64
 18  GCA     13028 non-null  float64
 19  GCG     13028 non-null  float64
 20  CCU     13028 non-null  float64
 21  CCC     13028 non-null  float64
 22  CCA     13028 non-null  float64
 23  CCG     13028 non-null  float64
 24  UGG     13028 non-null  float64
 25  GGU     13028 non-null  float64
 26  GGC     13028 non-null  float64
 27  GGA     13028 non-null  float64
 28  GGG     13028 non-null  float64
 29  UCU     13028 non-null  float64
 30  UCC     13028 non-null  float64
 31  UCA     13028 non-null  float64
 32  UCG     13028 non-null  float64
 33  AGU     13028 non-null  float64
 34  AGC     13028 non-null  float64
 35  ACU     13028 non-null  float64
 36  ACC     13028 non-null  float64
 37  ACA     13028 non-null  float64
 38  ACG     13028 non-null  float64
 39  UAU     13028 non-null  float64
 40  UAC     13028 non-null  float64
 41  CAA     13028 non-null  float64
 42  CAG     13028 non-null  float64
 43  AAU     13028 non-null  float64
 44  AAC     13028 non-null  float64
 45  UGU     13028 non-null  float64
 46  UGC     13028 non-null  float64
 47  CAU     13028 non-null  float64
 48  CAC     13028 non-null  float64
 49  AAA     13028 non-null  float64
 50  AAG     13028 non-null  float64
 51  CGU     13028 non-null  float64
 52  CGC     13028 non-null  float64
 53  CGA     13028 non-null  float64
 54  CGG     13028 non-null  float64
 55  AGA     13028 non-null  float64
 56  AGG     13028 non-null  float64
 57  GAU     13028 non-null  float64
 58  GAC     13028 non-null  float64
 59  GAA     13028 non-null  float64
 60  GAG     13028 non-null  float64
 61  UAA     13028 non-null  float64
 62  UAG     13028 non-null  float64
 63  UGA     13028 non-null  float64
dtypes: float64(62), object(2)
memory usage: 6.4+ MB

In [10]:
dfjustcodon.loc[485]

UUU    0.01643
UUC    0.02222
UUA     0.0132
UUG    0.00741
CUU    0.01932
        ...
GAA    0.02544
GAG    0.02061
UAA    0.00129
UAG          0
UGA    0.00129
Name: 485, Length: 64, dtype: object

In [11]:
hepb = dfjustcodon[dfjustcodon.eq("non-B hepatitis virus").any(1)]

/home/amina/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [12]:
hepb = dfjustcodon[dfjustcodon.eq("non-B hepatitis virus").any(1)]

In [13]:
dfjustcodon['UUU'] = dfjustcodon['UUU'].replace(['non-B hepatitis virus'], 0.01)

In [14]:
dfjustcodon[dfjustcodon.eq("non-B hepatitis virus").any(1)]

Empty DataFrame
Columns: [UUU, UUC, UUA, UUG, CUU, CUC, CUA, CUG, AUU, AUC, AUA, AUG, GUU, GUC, GUA, GUG, GCU, GCC, GCA, GCG, CCU, CCC, CCA, CCG, UGG, GGU, GGC, GGA, GGG, UCU, UCC, UCA, UCG, AGU, AGC, ACU, ACC, ACA, ACG, UAU, UAC, CAA, CAG, AAU, AAC, UGU, UGC, CAU, CAC, AAA, AAG, CGU, CGC, CGA, CGG, AGA, AGG, GAU, GAC, GAA, GAG, UAA, UAG, UGA]
Index: []

[0 rows x 64 columns]

In [15]:
dfjustcodon[dfjustcodon['UUC'] == '-']

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
5063,12;I,-,0.0212,0.02356,0.01178,0.01296,0.0106,0.01296,0.00471,0.06949,...,0.03062,0.00118,0.00707,0.00118,0.0,0.02945,0.02356,0.04476,0.02473,0.00118

In [16]:
dfjustcodon[dfjustcodon['UUC'] == '-']

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
5063,12;I,-,0.0212,0.02356,0.01178,0.01296,0.0106,0.01296,0.00471,0.06949,...,0.03062,0.00118,0.00707,0.00118,0.0,0.02945,0.02356,0.04476,0.02473,0.00118

In [18]:
# dfjustcodon['UUU'] = dfjustcodon['UUU'].astype(float)
# dfjustcodon['UUC'] = dfjustcodon['UUC'].astype(float)
# dfjustcodon.info()

#unable to change these because there are cells with values that aren't floats

In [203]:
dfjustcodon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13028 entries, 0 to 13027
Data columns (total 64 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUU     13028 non-null  object
 1   UUC     13028 non-null  object
 2   UUA     13028 non-null  float64
 3   UUG     13028 non-null  float64
 4   CUU     13028 non-null  float64
 5   CUC     13028 non-null  float64
 6   CUA     13028 non-null  float64
 7   CUG     13028 non-null  float64
 8   AUU     13028 non-null  float64
 9   AUC     13028 non-null  float64
 10  AUA     13028 non-null  float64
 11  AUG     13028 non-null  float64
 12  GUU     13028 non-null  float64
 13  GUC     13028 non-null  float64
 14  GUA     13028 non-null  float64
 15  GUG     13028 non-null  float64
 16  GCU     13028 non-null  float64
 17  GCC     13028 non-null  float64
 18  GCA     13028 non-null  float64
 19  GCG     13028 non-null  float64
 20  CCU     13028 non-null  float64
 21  CCC     13028 non-null  float64
 22  CCA     13028 non-null  float64
 23  CCG     13028 non-null  float64
 24  UGG     13028 non-null  float64
 25  GGU     13028 non-null  float64
 26  GGC     13028 non-null  float64
 27  GGA     13028 non-null  float64
 28  GGG     13028 non-null  float64
 29  UCU     13028 non-null  float64
 30  UCC     13028 non-null  float64
 31  UCA     13028 non-null  float64
 32  UCG     13028 non-null  float64
 33  AGU     13028 non-null  float64
 34  AGC     13028 non-null  float64
 35  ACU     13028 non-null  float64
 36  ACC     13028 non-null  float64
 37  ACA     13028 non-null  float64
 38  ACG     13028 non-null  float64
 39  UAU     13028 non-null  float64
 40  UAC     13028 non-null  float64
 41  CAA     13028 non-null  float64
 42  CAG     13028 non-null  float64
 43  AAU     13028 non-null  float64
 44  AAC     13028 non-null  float64
 45  UGU     13028 non-null  float64
 46  UGC     13028 non-null  float64
 47  CAU     13028 non-null  float64
 48  CAC     13028 non-null  float64
 49  AAA     13028 non-null  float64
 50  AAG     13028 non-null  float64
 51  CGU     13028 non-null  float64
 52  CGC     13028 non-null  float64
 53  CGA     13028 non-null  float64
 54  CGG     13028 non-null  float64
 55  AGA     13028 non-null  float64
 56  AGG     13028 non-null  float64
 57  GAU     13028 non-null  float64
 58  GAC     13028 non-null  float64
 59  GAA     13028 non-null  float64
 60  GAG     13028 non-null  float64
 61  UAA     13028 non-null  float64
 62  UAG     13028 non-null  float64
 63  UGA     13028 non-null  float64
dtypes: float64(62), object(2)
memory usage: 6.4+ MB

In [159]:
#dfjustcodon.corr().style.background_gradient(cmap='coolwarm')

In [164]:
#sns.heatmap(dfjustcodon) #need to change objects to floats

In [53]:
# for i in dfjustcodon:
#     try isinstance(i, float)

In [54]:
for i in col:
    if df[col].map(type) != float:
        print(i)

NameError: name 'col' is not defined